.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.container > div {
    flex: 2;
    width: 100%;
}

.container > div:last-child {
    flex: 1;
}

.container > div:first-child {
    margin-right: 2em;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container > div:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
